@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oooh+Baby&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,500;1,700;1,900&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 760px) {
    nav {
        border-radius: 0.125rem;
        border: 1px solid rgba(255, 255, 255, 0.10);
        /* background: linear-gradient(180deg, #FFF 0%, #F2F2F2 126.58%); */
        background: #FFF;

box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10);
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >div {
            display: flex;
            justify-content: flex-end;
            margin: 2rem;


        }
    }

    .text1 {
        color: #000;
        font-size: 1.8125rem;
        font-family: Secular One;

        font-weight: 400;
        font-style: normal;
        margin: 20px;
        text-decoration: none;
        align-items: center;

    }

    .text2 {

        margin: 0 2rem;
        font-weight: bold;
        text-decoration: none;
        color: #000;
    }
}

/* //MOBILE VIEW   */


@media screen and (min-width: 320px) and (max-width: 759px) {
    nav {
        border-radius: 0.125rem;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: #F9F9F9;
        display: flex;
        height: 2.5rem;
        padding: 0.5625rem 1rem;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;

        >div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem;
            margin-left: 3rem;
        }
    }

    .text1 {
        color: #000;
        font-family: Secular One;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;

    }

    .text2 {
        color: #000;
        font-family: Secular One;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }


}