@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oooh+Baby&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}


.cardrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin: 4rem 4rem;
    flex-wrap: wrap;
}

.profilecard {
    display: flex;
    width: 13.0625rem;
    padding: 1.75rem 1.5625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    gap: 0.625rem;
    border-radius: 1.5rem;
    background: #FFF;
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.15);

}

.circle {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 20rem;
}

.id {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.downloadbtn {
    display: flex;
    padding: 1rem 0.75rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, #BA76FF 0%, #865AB2 100%);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    border: none;
    line-height: normal;
    margin: 3rem auto 3rem auto;
    cursor: pointer;
    
}

a {
    outline: none;
    text-decoration: none;
}
@media screen and (min-width: 760px) {


   
}